.menu__item {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
    width: 30%;
}

.menu__link {
    color: #333333;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin: 0.75rem 0;
}

.menu__link:hover, .menu__link.ativo {
    border-bottom: 3px #0073e6 solid;
}