.populares {
    padding: 2rem 0;
}

.populares__cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: #dcdcdc solid 2px;
    font-size: 1.2rem;
    color: #333333;
}

.populares__titulo {
    font-weight: 500;
}

.populares__botao {
    border: none;
}

.populares__icone {
    margin: 0 0.25rem;
}

.populares__conteudo {
    grid-area: conteudo;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    margin-right: 1rem;
    width: calc(20% - 1rem);
}

.populares__card:last-child {
    margin-right: 0;
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    grid-area: card-corpo;
    grid-row-gap: 0.5rem;
    display: grid;
    grid-template-areas: 
        "card-cabecalho"
        "card-descricao";
    grid-template-rows: 50px auto;
    padding: .75rem;
    color: #333333;
}

.populares__card___titulo {
    font-size: 1.8rem;
}

.populares__card___data {
    font-size: 1.1rem;
    color: #888888;
}

.populares__card___descricao {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.3;
    margin: 1rem 0;
}